body {
  padding-top: 60px;
  padding-bottom: 20px;
}

.homebig {
  text-align: center;
}
.homebig img {
  margin-top: 20px;
  max-height: 25em;
}

.my-progress .dropdown-menu {
  padding-top: 0px;
}

.my-progress .dropdown-menu .progress {
  border-radius: 0px;
}

.about .icon-huge {
  text-align: center;
}

.about .icon-huge .glyphicon {
  font-size: 15em;
}

.about-excite .icon-huge .glyphicon {
  margin-top: 0.15em;
}

.about-theory .icon-huge .glyphicon {
  margin-top: 0.35em;
}

.about-philosophy .icon-huge .glyphicon {
  margin-top: 0.25em;
}


.upper-content {
  margin-top: 1em;
}

.answer-actions {
  position: relative;
  bottom: -0.75em;
  right: -0.5em;
  cursor: default;
}

.answer-actions .glyphicon {
  cursor: pointer;
  opacity: 0.05;
}

.panel:hover .answer-actions .glyphicon {
  opacity: 0.15;
}

.answer-actions .glyphicon:hover {
  opacity: 1 !important;
}

.panel-success .glyphicon-ok-circle {
  opacity: 0.5;
}
.panel-danger .glyphicon-remove-circle {
  opacity: 0.5;
}

.panel-success:hover .glyphicon-ok-circle {
  opacity: 1 !important;
}
.panel-danger:hover .glyphicon-remove-circle {
  opacity: 1 !important;
}

.hover-text {
  display: none;
}

.btn:hover .hover-text {
  display: inline;
}

