
    <div class="container">
      <hr />

      <footer>
        <p>Copyright &copy; 2014 Mike Gerwitz</p>
      </footer>
    </div>

    <div class="modal" id="config-goals" role="dialog" aria-labelledby="config-modal-title">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="config-modal-title">Configure Goals</h4>
          </div>
          <div class="modal-body">
            Stuff...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>

    <script>
      $( '.progress, .progress-bar' ).tooltip();
    </script>
  </body>
</html>
