
  <div class="container upper-content">
    <ol class="breadcrumb">
      <li href="#">Home</li>
      <li href="#">Subject</li>
      <li class="active">Files and Paths</li>
    </ol>

    <div class="row">
      <div class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
        <div class="jumbotron">
          <h1>Files and Paths</h1>
          <p>
            Gain an understanding of how files are organized on a Unix-like
            operating system (e.g. GNU/Linux), and how to access and
            manipulate them.
          </p>

          <div id="answer-progress" class="progress">
            <div class="progress-bar progress-bar-default" style="width: 25%"
              id="answer-progress-unmarked" title="8 seen"
              data-toggle="tooltip" data-placement="bottom"></div>
            <div class="progress-bar progress-bar-success" style="width: 33%"
              id="answer-progress-unmarked" title="11 correct"
              data-toggle="tooltip" data-placement="bottom"></div>
            <div class="progress-bar progress-bar-danger" style="width: 15%"
              id="answer-progress-unmarked" title="5 incorrect"
              data-toggle="tooltip" data-placement="bottom"></div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
        <div class="panel panel-primary">
          <div class="panel-heading">Subtopics</div>
          <ul class="list-group">
            <li class="list-group-item">
              Absolute and Relative
              <span class="badge">25</span>
            </li>
            <li class="list-group-item">
              Home Directory
              <span class="badge">8</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-push-3">
        <div class="panel panel-primary">
          <div class="panel-body">
            Files on disk are stored in a structured format; what is this
            system referred to as?
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-6 col-md-push-3">
        <div class="panel panel-info">
          <div class="panel-body">
            A <dfn>filesystem</dfn>. This answer has not been marked as
            correct or incorrect.

            <div class="pull-right answer-actions">
              <span class="glyphicon glyphicon-eye-close"></span>
              <span class="glyphicon glyphicon-ok-circle"></span>
              <span class="glyphicon glyphicon-remove-circle"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-md-pull-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            References
          </div>
          <ul class="list-group">
            <li class="list-group-item">Absolute and Relative</li>
            <li class="list-group-item">Home Directory</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-push-3">
        <div class="panel panel-primary">
          <div class="panel-body">
            Nothing interesting on this row.
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-6 col-md-push-3">
        <div class="btn btn-primary" style="font-size: 1.5em; margin-bottom: 21px;">
          <span class="glyphicon glyphicon-eye-open"></span>
          <span class="hover-text">Reveal</span>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-md-pull-9">
      </div>
    </div>


    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-push-3">
        <div class="panel panel-primary">
          <div class="panel-body">
            <p>Explain why <code>$1</code> must be quoted:</p>

            <code>rm -rf my/software/$1</code>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-6 col-md-push-3">
        <div class="panel panel-danger">
          <div class="panel-body">
            When <code>$1="some dir"</code>...; answer has been marked as
            incorrect.

            <div class="pull-right answer-actions">
              <span class="glyphicon glyphicon-eye-close"></span>
              <span class="glyphicon glyphicon-ok-circle"></span>
              <span class="glyphicon glyphicon-remove-circle"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-md-pull-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            Related
          </div>
          <ul class="list-group">
            <li class="list-group-item">Absolute and Relative</li>
            <li class="list-group-item">Home Directory</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-push-3">
        <div class="panel panel-primary">
          <div class="panel-body">
            <p>Explain why <code>$1</code> must be quoted:</p>

            <code>rm -rf my/software/$1</code>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-6 col-md-push-3">
        <div class="panel panel-success">
          <div class="panel-body">
            When <code>$1="some dir"</code>...; this has been marked as
            correct.

            <div class="pull-right answer-actions">
              <span class="glyphicon glyphicon-eye-close"></span>
              <span class="glyphicon glyphicon-ok-circle"></span>
              <span class="glyphicon glyphicon-remove-circle"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-md-pull-9">
      </div>
    </div>


    <div class="row">
      <div class="col-md-9 col-md-push-3">
        <div class="panel panel-warning">
          <div class="panel-heading">Hacktivity</div>
          <div class="panel-body">
            Hacking activities designed to encourage readers to explore on
            their own will be displayed after reaching a certain point or
            threshold.
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-push-3">
        <div class="panel panel-primary">
          <div class="panel-body">
            Nothing interesting on this row.
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-6 col-md-push-3">
        <div class="btn btn-primary" style="font-size: 1.5em; margin-bottom: 21px;">
          <span class="glyphicon glyphicon-eye-open"></span>
          <span class="hover-text">Reveal</span>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-md-pull-9">
      </div>
    </div>


    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-push-3">
        <div class="panel panel-primary">
          <div class="panel-body">
            Nothing interesting on this row.
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-6 col-md-push-3">
        <div class="btn btn-primary" style="font-size: 1.5em; margin-bottom: 21px;">
          <span class="glyphicon glyphicon-eye-open"></span>
          <span class="hover-text">Reveal</span>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-md-pull-9">
      </div>
    </div>


    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-push-3">
        <div class="panel panel-primary">
          <div class="panel-body">
            Upon revealing, references/etc in the margin would be displayed.
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-6 col-md-push-3">
        <div class="btn btn-primary" style="font-size: 1.5em; margin-bottom: 21px;">
          <span class="glyphicon glyphicon-eye-open"></span>
          <span class="hover-text">Reveal</span>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 col-md-pull-9">
      </div>
    </div>
  </div>
